<div class="row mb-3">
  <div class="col-5 pl-3">
    <input type="text" class="form-control" placeholder="enter a title of a poi ..." [(ngModel)]="searchString" (keyup)="onKey($event)">
  </div>
</div>
<table class="table" *ngIf="poiList">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Coordinates</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poi of poiList" (click)="goTo(poi._id)">
      <td>{{poi.title}}</td>
      <td>lattitude:{{poi.longitude}}, longitude:{{poi.lattitude}}</td>
      <td>{{poi.type}}</td>
    </tr>
  </tbody>
</table>
